* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #121212; /* Main Background */
    color: #FFFFFF; /* Primary Text */
    padding-bottom: 50px;
}

#backfoot {
    margin: 50px;
    padding: 50px;
    margin-top: 10px;
    margin-bottom: 0px;
    padding-top: 10px;
    padding-bottom: 0px;
    background-color: #1E1E1E; /* Secondary Background */
    color: #B0B0B0; /* Secondary Text */
}

header {
    background-color: #1E1E1E; /* Secondary Background */
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

header .logo {
    font-size: 15px;
    color: #FFFFFF; /* Primary Text */
    font-weight: bold;
}

header nav ul li a {
    color: #FFFFFF; /* Primary Text */
    text-decoration: none;
    font-size: 18px;
}

.hero {
    text-align: center;
    padding: 0;
    background-image: url("");
    background-size: cover;
    background-position: center;
    color: #FFFFFF; /* Primary Text */
    background-color: #121212; /* Main Background */
}

.hero .btn {
    padding: 15px 40px;
    background-color: #7E57C2; /* Buttons */
    color: #FFFFFF; /* Primary Text */
    border: none;
    cursor: pointer;
    font-size: 18px;
    border-radius: 30px;
    transition: background-color 0.3s ease;
}

.hero .btn:hover {
    background-color: #9575CD; /* Hover State */
    color: #FFFFFF; /* Primary Text */
}

#categories {
    padding: 60px 20px;
    background-color: #1E1E1E; /* Secondary Background */
    color: #B0B0B0; /* Secondary Text */
}

#categories h2 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 34px;
    color: #FFFFFF; /* Primary Text */
}

.category-card {
    background-color: #1E1E1E; /* Cards/Product Backgrounds */
    border-radius: 15px;
    overflow: hidden;
    text-align: center;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.category-card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.category-card a {
    display: block;
    padding: 15px;
    font-size: 20px;
    color: #7E57C2; /* Accent Color */
    text-decoration: none;
    font-weight: bold;
}

.product-card {
    background: #1E1E1E; /* Cards/Product Backgrounds */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 250px;
    margin: 20px;
    padding: 20px;
    text-align: center;
    transition: transform 0.2s ease-in-out;
    color: #B0B0B0; /* Secondary Text */
}

.product-card:hover {
    transform: translateY(-10px);
}

.product-card a {
    text-decoration: none;
    color: #FFFFFF; /* Primary Text */
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #1E1E1E; /* Secondary Background */
    color: #B0B0B0; /* Secondary Text */
    margin-top: 25px;
}